/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.user-avatar img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.user-avatar-big img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: baseline;
}

.user-data {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 60%;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promote {
  height: 40px;
}

.demote {
  height: 40px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 125px;
  width: auto;
  // padding: 0px;
  width: auto;
}

.image-header {
  text-align: center;
}

.navbar {
   background-color: #6AE368;
   border: 0;
}

.navbar-header {
  margin-top: 15px;
  margin-bottom: 15px;
}
